a
buffet
buftabs
bundler%3207
Command-T
commentary
Dart
DoxygenToolkit
fugitive
gitv
git-vim
grep
Gundo
html5
hybrid
javascript%1747
LaTeX-Suite_aka_Vim-LaTeX
pathogen
Powerline
ragtag
repeat
rfc5424
showmarks
Solarized
SuperTab%1643
surround
Syntastic
taglist-plus
Tail_Bundle
tComment
The_NERD_tree
UltiSnips
vim-addon-manager
vim-addon-manager-known-repositories
vim-addon-mw-utils
vimlatex
badwolf
YankRing
