Command-T/
Dart/
DoxygenToolkit/
Gundo/
LaTeX-Suite_aka_Vim-LaTeX/
Powerline/
Solarized/
SuperTab%1643/
Syntastic/
Tail_Bundle/
The_NERD_tree/
a/
buffet/
bundler%3207/
commentary/
fugitive/
git-vim/
gitv/
grep/
html5/
hybrid/
javascript%1747/
pathogen/
ragtag/
repeat/
rfc5424/
snipmate-snippets/
snipmate/
taglist-plus/
tlib/
vim-addon-manager-known-repositories/
vim-addon-mw-utils/
vimlatex/
