ack
badwolf
buffet
buftabs
bundler%3207
Command-T
commentary
Conque_Shell/
Dart
DoxygenToolkit
EasyMotion
fugitive
git-vim
gitv
grep
Gundo
html5
hybrid
Indent_Guides/
javascript%1747
LaTeX-Suite_aka_Vim-LaTeX
LaTeX_Box
lua%4344/
markdown@tpope
Nazca
pathogen
Powerline
ragtag
repeat
rfc5424
showmarks
Solarized
SuperTab%1643
surround
Syntastic
Tabular/
taglist-plus
Tail_Bundle
tComment
The_NERD_tree
UltiSnips
vim-addon-manager
vim-addon-manager-known-repositories
vim-addon-mw-utils
vimlatex
YankRing
